
@{
    ViewBag.Title = "Index";
}


<br />
<br />
<br />
<br />
<br />
<h1>
    <body>
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <th>Subscription</th>
                <th>Price</th>
                <th>Duration</th>

            </tr>
            <tr>
                <td>Good</td>
                <td>50$</td>
                <td>1M</td>
            </tr>
            <tr>
                <td>Better</td>
                <td>280$</td>
                <td>6M</td>
            </tr>
            <tr>
                <td>The Best</td>
                <td>450$</td>
                <td>1Y</td>
            </tr>
            <tr>
                <td>Your Choice</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </table>
    </body>
</h1>

